.contact-info,
.form-map {
	margin: 0 auto;
	max-width: 1000px;
	padding: 0 15px;
}
.contact-info {
	letter-spacing: 2px;
	padding: 50px 0;
	text-align: center;
	display: flex;
	
	a {
		color: $black;
		&:hover {
			text-decoration: underline;
		}
	}

	> div {
		text-transform: uppercase;
		width: 100%;
		display: flex;
		flex-direction: column;
		
		.fa {
			margin-bottom: 15px;
		}
		
		.fa.fa-envelope {
			font-size: 28px;
			margin-bottom: 19px;
		}
	}
}


.form-map {
	margin-bottom: 50px;
	width: 100%;
	display: flex;
	
	.form {
		background-color: $black;
		margin: 0;
		padding: 30px 30px 10px;
		width: 50%;

		display: flex;
		justify-content: center;
		align-items: center;
		.wpcf7 {
			width: 100%;
		}
		
		label,
		input,
		textarea {
			font-family: 'Open Sans';
			width: 100%;
		}

		label {
			color: #E5E5E5;
			font-size: 12px;
			letter-spacing: 2px;
		}

		input,
		textarea {
			padding: 5px 10px;
		}
		
		textarea {
			max-height: 127px;
			margin-bottom: 18px;
		}

		label,
		input[type=submit] {
			text-transform: uppercase;
		}

		input,
		textarea {
			background-color: #E5E5E5;
			border: none;
		}

		input[type=submit] {
			background-color: lighten($black, 25);
			color: #E5E5E5;
			font-size: 14px;
			letter-spacing: 2px;
			transition: all 0.3s;
			&:hover {
				background-color: #E5E5E5;
				color: $black;
			}
		}
	}

	.map {
		width: 50%;
	}
}
.acf-map {
	height: 430px;
	width: 100%;

}

/* fixes potential CSS theme conflict */
.acf-map img {
   max-width: inherit !important;
}